.viewer-next,.viewer-prev{
    display:none;
}
.header .someBtn input{
    background: #49535D;
}
.header .someBtn .bSeachBox.ant-input-affix-wrapper:focus, .header .someBtn .bSeachBox.ant-input-affix-wrapper:hover{
    border-color: #49535D!important;
}
#Breadcrumb .myTC .ant-breadcrumb-link{
    color: #727070;
}
#Breadcrumb .myST .ant-breadcrumb-link a{
    color: #348FE4;
}
#Breadcrumb .myST .ant-breadcrumb-link{
    border-bottom: 1px solid #348FE4;
}
#Breadcrumb .myFS .ant-breadcrumb-link{
    font-size: 13px;
}
.myMod .ant-modal-body{
    padding: 0;
}
.myMod  .ant-modal-content{
    border-radius: 3px;
}
.myModal .ant-row.ant-form-item{
    margin-bottom: 0px;
    margin-top: 10px;
}
.ant-form-item .ant-input-textarea-show-count::after{
    position: absolute;
    right: 14px;
    bottom: 0px;
    margin-bottom: 0;
}
.ant-checkbox-wrapper{
    margin-left: 8px;
    width: 150px;
}
#describe{
    margin-top: 5px;
}

#pHD .sTit{
    font-size: 16px;
    color: #404040;
    font-weight: 400;
}
.eAccount .noInp .ant-input{
    outline: none;
    border: none;
}
.eAccount .noInp.ant-input-affix-wrapper:hover, .eAccount .noInp.ant-input-affix-wrapper, .eAccount .noInp.ant-input-affix-wrapper:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none;
}
.eAccount .noInp{
    height: 100%;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: #fff!important;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected span{
    color: #1ebd60
}
.ant-tree li .ant-tree-node-content-wrapper{
    color: #727070!important;
}
.ant-tree{
    color: #727070!important;
}